@import "../../../../../index.scss";

.bar {
  fill: $primary-color;
}

.bar-dot {
  stroke: $primary-color;
}

svg {
  border: none !important;
}

.skill-headings {
  font: normal 1.4rem "Open Sans";
  color: $secondary-color;
  text-transform: capitalize;
}

.year-headings {
  font-size: 1.4rem;
  font-weight: 600;
  fill: #c4c4c4;
  text-transform: uppercase;
}
