@import "../../index.scss";

section.error {
    margin-top:70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    h3 {
        color:$secondary-color;
        font-size:30px;
    }
    img {
        width:400px;
        height:auto;
    }
}