@import "../../../../index.scss";

.add-user {
  max-width: 600px;
  margin:20px 0;
  
h2 {
  color: #000;
  font-size: 20px;
  margin-bottom:20px;
}
.form-row {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
label {
  color:#000;
  font-weight:600;
}
input,select {
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #d3d3d3;
  outline:none;
}



input:focus,select:focus {
  border:solid 1px $primary-color;
}

button {
  color: white;
  border:none;
  outline:none;
  padding:10px 30px;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  background:$secondary-color;
  border: none;
  color: #fff;
  transition:all 0.5s ease-in-out ;
}

button:hover {
background-color:#333;
}

div.error {
  padding: 10px;
  background: $error-bg;
  border: 1px solid $error;
  color:$error;
  border-radius: 4px;
  margin: 20px 0;
}
}



