@import "../../index.scss";

a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    padding: 18px 0;
    justify-content: space-between;
    align-items: center;
    .logout {
        cursor: pointer;
    }
    .name {
        margin-left: 20px;
        border-radius: 50%;
        padding: 6px 7px;
        text-transform: uppercase;
        background-color: $primary-color;
        color: white;
        letter-spacing:2px;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 22px;
}
.mobile-icon {
    color: $secondary-color;
    display: none;
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    .company-name {
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        span {
            color: $grey-dark;
            font-weight: 400;
        }
    }
    .header-chip {
        background-color: $secondary-color;
        color: white;
        font-size: 11px;
        font-weight: 600;
        padding: 5px 8px;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100%;
    }
    .logo {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        .company-name {
            font-size: 16px;
        }
        .header-chip {
            font-size: 8px;
        }
    }
    .mobile-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .nav-links {
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        justify-content: center;
        align-items: center;
        transform: translate(-100%);
        opacity: 0;
        transition: all 0.4s ease;
    }

    .nav-links.active {
        transform: translate(0%);
        opacity: 1;
    }
}
